.title h2 {
  font-size: 28px;
  margin-bottom: 26px;
}

.title span {
  font-size: 28px;
  color: #6E6E73;
}

img {
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

.news {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.news::-webkit-scrollbar {
  display: none;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #f00404;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

.bloco {
  height: 500px;
  transition: all .3s cubic-bezier(0,0,.5,1);
  scroll-snap-align: start;
}

.bloco:hover {
  transform: scale(1.01);
}

.intern div {
  position: relative;
  padding: 30px;
  height: 0;
  top: -504px;
  background: transparent;
}

.intern div {
  background: transparent;
}

.white {
  height: 400px;
  background: transparent;
}

.white span, .white h3, .white p {
  color: #fff;
}

span, h3, p {
  background: transparent;
  max-width: 360px;
}

span {
  font-size: 12px;
  font-weight: 700;
  color: #6E6E73;
}

h3 {
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 10px;
}

p {
  font-size: 17px;
}
