<section>
  <div class="title">
    <h2>Acessórios. <span>Feitos especialmente para seus aparelhos favoritos.</span></h2>
  </div>


  <div class="relative">
    <div data-core-scroller class="scroller-cards" #scrollerCards>

      <div class="scroll-card">
        <div class="card">
          <div class="image">
            <img width="400px" height="500px" src="assets/store/acessorios/card.jpeg">
          </div>
          <div class="text-card">
            <h3>Novas Cores.</h3>
            <p>Para seus acessórios favoritos lançarem tendências.</p>
          </div>
        </div>
      </div>

      <div class="scroll-card">
        <div class="product">
          <div class="image">
            <img src="assets/store/acessorios/1.jpeg" alt="Capinha para IPhone">
          </div>
          <div class="product-text">
            <span class="novo-produto">Novo</span>
            <div>
              <h3>Capa de silicone com MagSafe para iPhone 15</h3>
              <p>R$ 569,00</p>
            </div>
          </div>
        </div>
      </div>

      <div class="scroll-card">
        <div class="product">
          <div class="image">
            <img src="assets/store/acessorios/2.jpeg" alt="Capinha para IPhone">
          </div>
          <div class="product-text">
            <div class="no-span">
              <h3>Carteira de tecido FineWoven com MagSafe para iPhone</h3>
              <p>R$ 719,00</p>
            </div>
          </div>
        </div>
      </div>

      <div class="scroll-card">
        <div class="product">
          <div class="image">
            <img src="assets/store/acessorios/3.jpeg" alt="Capinha para IPhone">
          </div>
          <div class="product-text">
            <span class="novo-produto">Novo</span>
            <div>
              <h3>Pulseira loop esportiva menta-suave para caixa de 45 mm</h3>
              <p>R$ 499,00</p>
            </div>
          </div>
        </div>
      </div>

      <div class="scroll-card">
        <div class="product">
          <div class="image">
            <img src="assets/store/acessorios/4.jpeg" alt="Capinha para IPhone">
          </div>
          <div class="product-text">
            <span class="novo-produto">Novo</span>
            <div>
              <h3>Pulseira esportiva solar para caixa de 45 mm</h3>
              <p>R$ 499,00</p>
            </div>
          </div>
        </div>
      </div>

      <div class="scroll-card">
        <div class="product">
          <div class="image">
            <img src="assets/store/acessorios/5.jpeg" alt="Capinha para IPhone">
          </div>
          <div class="product-text">
            <div class="no-span">
              <h3>Capa de tecido FineWoven com MagSafe para iPhone 15 Pro</h3>
              <p>R$ 719,00</p>
            </div>
          </div>
        </div>
      </div>

      <div class="scroll-card">
        <div class="product">
          <div class="image">
            <img src="assets/store/acessorios/6.jpeg" alt="Capinha para IPhone">
          </div>
          <div class="product-text">
            <div class="no-span">
              <h3>Chaveiro de tecido FineWoven para AirTag</h3>
              <p>R$ 426,00</p>
            </div>
          </div>
        </div>
      </div>

      <div class="scroll-card" id="last">
        <div class="card">
          <div class="image">
            <img src="assets/store/acessorios/card2.jpeg">
          </div>
          <div class="text-card">
            <h3>Descubra todos os acessórios.</h3>
          </div>
        </div>
      </div>

      <button class="buttons-scroll right" (click)="scroll(400, scrollerCards)">
        <span class="material-symbols-outlined">arrow_forward_ios</span>
      </button>
      <button class="buttons-scroll left" (click)="scroll(-400, scrollerCards)">
        <span class="material-symbols-outlined">arrow_back_ios</span>
      </button>
    </div>
  </div>
</section>
