<header>
    <nav>
      <a class="logo" href=""><img src="assets/logo.png" alt=""></a>
      <a href="">Loja</a>
      <a href="">Mac</a>
      <a href="">iPad</a>
      <a href="">IPhone</a>
      <a href="">Watch</a>
      <a href="">AirPods</a>
      <a href="">TV e Casa</a>
      <a href="">Entretenimento</a>
      <a href="">Acessórios</a>
      <a href="">Suporte</a>
      <a href="" class="material-symbols-outlined" id="buttons">search</a>
      <a href="" class="material-symbols-outlined" id="buttons">work</a>
    </nav>
</header>
