<header>
    <nav>
      <a class="logo" href=""><img src="assets/logo.png" alt=""></a>
      <div class="store" (mouseover)="showNavbar()" (mouseout)="hideNavbar()">
        <a href="">Loja</a>
          <div class="navbar">
            <div class="intern">
              <div class="left">
                <span>Comprar</span>
                <h3>Comprar os lançamentos</h3>
                <h3>Mac</h3>
                <h3>iPad</h3>
                <h3>iPhone</h3>
                <h3>Apple Watch</h3>
                <h3>Acessórios</h3>
              </div>
              <div class="center">
                <span>Links rápidos</span>
                <p>Encontre uma loja</p>
                <p>Status do pedido</p>
                <p>Financiamento</p>
              </div>
              <div class="right">
                <span>Comprar nas lojas especiais</span>
                <p>Educação</p>
                <p>Negócios</p>
                </div>
              </div>
          </div>
      </div>

      <div class="mac" (mouseover)="showNavbar()" (mouseout)="hideNavbar()">
        <a href="">Mac</a>
        <div class="navbar">
          <div class="intern">
            <div class="left">
              <span>Explorar Mac</span>
              <h3>Explorar todos os modelos de Mac</h3>
              <h3>MacBook Air</h3>
              <h3>MacBook Pro</h3>
              <h3>iMac</h3>
              <h3>Mac mini</h3>
              <h3>Mac Studio</h3>
              <h3>Mac Pro</h3>
              <h3>Monitores</h3>
              <p>Comparar Mac</p>
              <p>O Mac resolve</p>
            </div>
            <div class="center">
              <span>Comprar Mac</span>
              <p>Comprar Mac</p>
              <p>Acessórios para Mac</p>
              <p>Financiamento</p>
            </div>
            <div class="right">
              <span>Mais para o Mac</span>
              <p>Suporte para Mac</p>
              <p>Produtos AppleCare</p>
              <p>macOS Sonoma</p>
              <p>Apps da Appe</p>
              <p>Continuidade</p>
              <p>iCloud+</p>
              <p>Mac para negócios</p>
              <p>Educação</p>
            </div>
          </div>
        </div>

      </div>
      <div class="ipad" (mouseover)="showNavbar()" (mouseout)="hideNavbar()">
        <a href="">iPad</a>
        <div class="navbar">
          <div class="intern">
            <div class="left">
              <span>Explorar iPad</span>
              <h3>Explorar todos os modelos de iPad</h3>
              <h3>iPad Air</h3>
              <h3>iPad Pro</h3>
              <h3>iPad</h3>
              <h3>iPad mini</h3>
              <h3>Apple Pencil</h3>
              <h3>Teclados</h3>
              <p>Comparar iPad</p>
              <p>Por que iPad</p>
            </div>
            <div class="center">
              <span>Comprar ipad</span>
              <p>Comprar iPad</p>
              <p>Acessórios para iPad</p>
              <p>Financiamento</p>
            </div>
            <div class="right">
              <span>Mais para o iPad</span>
              <p>Suporte para iPad</p>
              <p>Produtos AppleCare</p>
              <p>iPadOS 17</p>
              <p>Apps da Appe</p>
              <p>Continuidade</p>
              <p>iCloud+</p>
              <p>Educação</p>
            </div>
          </div>
        </div>

      </div>
      <div class="iphone" (mouseover)="showNavbar()" (mouseout)="hideNavbar()">
        <a href="">iPhone</a>
        <div class="navbar">
          <div class="intern">
            <div class="left">
              <span>Explorar iPhone</span>
              <h3>Explorar todos os modelos de iPhone</h3>
              <h3>iPhone 15 Pro</h3>
              <h3>iPhone 15</h3>
              <h3>iPhone 14</h3>
              <h3>iPhone 13</h3>
              <h3>iPhone SE</h3>
              <p>Comparar iPhone</p>
              <p>Mudar do Android</p>
            </div>
            <div class="center">
              <span>Comprar iPhone</span>
              <p>Comprar iPhone</p>
              <p>Acessórios para iPhone</p>
              <p>Financiamento</p>
            </div>
            <div class="right">
              <span>Mais para o iPhone</span>
              <p>Suporte para iPhone</p>
              <p>OS 17</p>
              <p>Apps da Appe</p>
              <p>Privacidade no iPhone</p>
              <p>iCloud+</p>
              <p>Carteira, Apple Pay</p>
              <p>Siri</p>
            </div>
          </div>
        </div>

      </div>
      <div class="watch" (mouseover)="showNavbar()" (mouseout)="hideNavbar()">
        <a href="">Watch</a>
        <div class="navbar">
          <div class="intern">
            <div class="left">
              <span>Explorar Apple Watch</span>
              <h3>Explorar todos os modelos de Apple Watch</h3>
              <h3>Apple Watch</h3>
              <h3>Apple Watch Series 9</h3>
              <h3>Apple Watch Ultra 2</h3>
              <h3>Apple Watch SE</h3>
              <h3>Apple Watch Nike</h3>
              <p>Comparar Apple Watch</p>
              <p>Por que Apple Watch</p>
            </div>
            <div class="center">
              <span>Comprar Apple Watch</span>
              <p>Comprar Apple Watch</p>
              <p>Pulseiras para Apple Watch</p>
              <p>Acessórios para Apple Watch</p>
              <p>Financiamento</p>
            </div>
            <div class="right">
              <span>Mais para o Apple Watch</span>
              <p>Suporte para Apple Watch</p>
              <p>watchOS 10</p>
              <p>Apps da Appe</p>
              <p>Apple Fitness+</p>
            </div>
          </div>
        </div>

      </div>
      <div class="airpods" (mouseover)="showNavbar()" (mouseout)="hideNavbar()">
        <a href="">AirPods</a>
        <div class="navbar">
          <div class="intern">
            <div class="left">
              <span>Explorar AirPods</span>
              <h3>Explorar todos os modelos de AirPods</h3>
              <h3>AirPods Pro 2ª geração</h3>
              <h3>AirPods 2ª geração</h3>
              <h3>AirPods 3ª geração</h3>
              <h3>AirPods Max</h3>
              <p>Comparar AirPods</p>
            </div>
            <div class="center">
              <span>Comprar AirPods</span>
              <p>Comprar AirPods</p>
              <p>Acessórios para AirPods</p>
            </div>
            <div class="right">
              <span>Mais para o AirPods</span>
              <p>Suporte para AirPods</p>
              <p>Apple Music</p>
            </div>
          </div>
        </div>

      </div>
      <div class="tv" (mouseover)="showNavbar()" (mouseout)="hideNavbar()">
        <a href="">TV e Casa</a>
        <div class="navbar">
          <div class="intern">
            <div class="left">
              <span>Explorar TV e Casa</span>
              <h3>Explorar TV e Casa</h3>
              <h3>Apple TV 4K</h3>
            </div>
            <div class="center">
              <span>Comprar TV e Casa</span>
              <p>Comprar Apple TV4K</p>
              <p>Comprar Siri Remote</p>
              <p>Acessórios para TV e Casa</p>
            </div>
            <div class="right">
              <span>Mais para TV e Casah</span>
              <p>Suporte para Apple TV</p>
              <p>Produtos AppleCare</p>
              <p>App Apple TV</p>
              <p>Apple TV+</p>
              <p>App Casa</p>
              <p>Apple Music</p>
              <p>Siri</p>
              <p>AirPlay</p>
            </div>
          </div>
        </div>

      </div>
      <div class="entertainment" (mouseover)="showNavbar()" (mouseout)="hideNavbar()">
        <a href="">Entretenimento</a>
        <div class="navbar">
          <div class="intern">
            <div class="left">
              <span>Explorar Entretenimento</span>
              <h3>Explorar Entretenimento</h3>
              <h3>Apple One</h3>
              <h3>Apple TV+</h3>
              <h3>Apple Music</h3>
              <h3>Apple Arcade</h3>
              <h3>Apple Fitness+</h3>
              <h3>Apple Podcasts</h3>
              <h3>Apple Books</h3>
              <h3>Apple Store</h3>
              <p>Comparar AirPods</p>
            </div>
            <div class="center">
              <span>Suporte</span>
              <p>Suporte para Apple TV+</p>
              <p>Suporte para Apple Music</p>
            </div>
          </div>
        </div>

      </div>
      <div class="accessories" (mouseover)="showNavbar()" (mouseout)="hideNavbar()">
        <a href="">Acessórios</a>
        <div class="navbar">
          <div class="intern">
            <div class="left">
              <span>Comprar acessórios</span>
              <h3>Mac</h3>
              <h3>iPad</h3>
              <h3>iPhone</h3>
              <h3>Apple Watch</h3>
              <h3>AirPods</h3>
              <h3>TV e Casa</h3>
            </div>
            <div class="center">
              <span>Explorar acessórios</span>
              <p>Criados pela Apple</p>
              <p>Beats by Dr. Dre</p>
              <p>AirTag</p>
            </div>
          </div>
        </div>

      </div>
      <div class="suport" (mouseover)="showNavbar()" (mouseout)="hideNavbar()">
        <a href="">Suporte</a>
        <div class="navbar">
          <div class="intern">
            <div class="left">
              <span>Explorar Suporte</span>
              <h3>iPhone</h3>
              <h3>Mac</h3>
              <h3>iPad</h3>
              <h3>Apple Watch</h3>
              <h3>AirPods</h3>
              <h3>Música</h3>
              <h3>TV</h3>
              <p>Explorar Suporte</p>
            </div>
            <div class="center">
              <span>Ajuda</span>
              <p>Comunidade</p>
              <p>Verificar cobertura</p>
              <p>Reparos</p>
              <p>Fale com a gente</p>
            </div>
            <div class="right">
              <span>Tópicos úteis</span>
              <p>Comprar produtos AppleCare</p>
              <p>Apple ID e senha</p>
              <p>Cobrança e assinaturas</p>
              <p>Buscar</p>
              <p>Acessibilidade</p>
            </div>
          </div>
        </div>

      </div>
      <a href="" class="material-symbols-outlined" id="buttons">search</a>
      <a href="" class="material-symbols-outlined" id="buttons">work</a>
    </nav>
</header>
