<header>
    <nav>
      <a class="logo" href=""><img src="assets/logo.png" alt=""></a>
      <div class="store">
        <a href="">Loja</a>
      </div>
      <div class="mac">
        <a href="">Mac</a>
      </div>
      <div class="ipad">
        <a href="">iPad</a>
      </div>
      <div class="iphone">
        <a href="">IPhone</a>
      </div>
      <div class="watch">
        <a href="">Watch</a>
      </div>
      <div class="airpods">
        <a href="">AirPods</a>
      </div>
      <div class="tv">
        <a href="">TV e Casa</a>
      </div>
      <div class="entertainment">
        <a href="">Entretenimento</a>
      </div>
      <div class="accessories">
        <a href="">Acessórios</a>
      </div>
      <div class="suport">
        <a href="">Suporte</a>
      </div>
      <a href="" class="material-symbols-outlined" id="buttons">search</a>
      <a href="" class="material-symbols-outlined" id="buttons">work</a>
    </nav>
</header>
