<section>
  <div class="title">
    <h2>É melhor com a Apple. <span>Faça ainda mais com os produtos e serviços Apple.</span></h2>
  </div>

  <div class="servico">
    <div class="interno">
      <img src="assets/store/serviços/1.jpeg">
      <div class="white">
        <span>APPLE TV+</span>
        <h3>Ganhe três meses de Apple TV+ na compra de um aparelho Apple°.</h3>
      </div>
    </div>
    <div class="interno">
      <img src="assets/store/serviços/2.jpeg">
      <div>
        <h3>Cinco serviços Apple. Uma só assinatura.</h3>
      </div>
    </div>
    <div class="interno">
      <img src="assets/store/serviços/3.jpeg">
      <div>
        <h3>Descubra todas as maneiras de usar o Apple Pay.</h3>
      </div>
    </div>
    <div class="interno">
      <img src="assets/store/serviços/4.jpeg">
      <div>
        <span>CASA</span>
        <h3>Veja como um app pode controlar toda a sua casa.</h3>
      </div>
    </div>
  </div>
</section>
