section {
  max-width: 1450px;
  margin: 0 auto;
  margin-top: 60px;
}

.title h2 {
  font-size: 28px;
  margin-bottom: 26px;
}

.title span {
  font-size: 28px;
  color: #6E6E73;
}

.motivos {
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
}

.interno {
  width: 313px;
  height: 240px;
  border-radius: 20px;
  padding: 30px;
  background-color: #fff;
  transition: all .3s cubic-bezier(0,0,.5,1);
}

.interno:hover {
  transform: scale(1.01);
}

.interno span {
  background-color: #fff;
  color: #68CC45;
  font-size: 60px;
}

#azul {
  font-size: 40px;
  color: #007AFF;
  border: 3px solid #007AFF;
  border-radius: 10px;
  margin-bottom: 10px;
}

h3, p {
  background-color: #fff;
  font-size: 22px;
  color: #1D1D1F;
  font-weight: bold;
}

p {
  color: #007AFF;
}

h3 {
  display: flex;
  flex-direction: column;
}

.interno div {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  gap: 8px;
}
