<section>
  <div class="title">
    <h2>Na Apple Store, é diferente. <span>Ainda mais motivos para comprar com a gente.</span></h2>
  </div>
  <div class="motivos">
    <div class="interno">
      <span class="material-symbols-outlined">package_2</span>
      <h3>Frete grátis em todos os pedidos.</h3>
    </div>
    <div class="interno">
      <span class="material-symbols-outlined">credit_card</span>
      <h3>Várias opções de parcelamento.</h3>
    </div>
    <div class="interno">
      <span class="material-symbols-outlined" id="azul">shopping_bag</span>


      <h3>Tenha uma experiência</h3>
      <p>de compra </p>
      <div><p>personalizada</p><h3>com o</h3></div>
      <p>app Apple Store.</p>
    </div>
  </div>
</section>
