<main>
  <app-header></app-header>
  <div class="store">
    <div class="left">
      <h1>Loja. <span>O melhor jeito de comprar o que você ama.</span></h1>
    </div>
    <div class="right">
      <div class="quest">
        <img src="assets/specialist.jpeg" alt="">
        <div>
          <p>Precisa de ajuda para comprar?</p>
          <a href="">Fale com um especialista</a>
        </div>
      </div>
      <div class="quest">
          <img src="assets/apple-store-local.png" alt="">
          <div>
            <p>Visite uma Apple Store</p>
            <a href="">Procure uma loja perto de vocẽ</a>
          </div>
      </div>
    </div>
  </div>
  <app-cards></app-cards>
  <app-news></app-news>
  <app-help></app-help>
  <app-motivos></app-motivos>
  <app-acessorios></app-acessorios>
  <app-airpods></app-airpods>
  <app-servicos></app-servicos>
  <app-especiais></app-especiais>
  <app-footer></app-footer>
</main>
