<section>
  <div class="title">
    <h2>É melhor com a Apple. <span>Faça ainda mais com os produtos e serviços Apple.</span></h2>
  </div>

  <div class="servico">
    <div class="interno">
      <img src="assets/store/especiais/1.jpeg">
      <div>
        <span>EDUCAÇÃO</span>
        <h3>Economize na compra de um Mac com preço especial para educação<sup>1</sup>.</h3>
      </div>
    </div>
    <div class="interno">
      <img src="assets/store/especiais/2.jpeg">
      <div>
        <span>NEGÓCIOS</span>
        <h3 class="white">Seja qual for o tamanho da sua empresa, queremos trabalhar com você<sup>1</sup>.</h3>
      </div>
    </div>
  </div>
</section>
