<div class="store-card">
  <a href="">
    <img src="assets/mac-card.png" alt="Mac">
    <p>Mac</p>
  </a>
  <a href="">
    <img src="assets/iphone-card.png" alt="iPhone">
    <p>IPhone</p>
  </a>
  <a href="">
    <img src="assets/ipad-card.png" alt="iPad">
    <p>IPad</p>
  </a>
  <a href="">
    <img src="assets/apple-watch-card.png" alt="Apple Watch">
    <p>Apple Watch</p>
  </a>
  <a href="">
    <img src="assets/air-pods-card.png" alt="Air Pods">
    <p>Air Pods</p>
  </a>
  <a href="">
    <img src="assets/air-tag-card.png" alt="Air Tags">
    <p>Air Tag</p>
  </a>
  <a href="">
    <img src="assets/apple-tv-card.png" alt="Apple TV 4K">
    <p>Apple TV 4K</p>
  </a>
  <a href="">
    <img src="assets/acessories-card.png" alt="Acessórios">
    <p>Acessórios</p>
  </a>
</div>
