<section>
  <div class="title">
    <h2>Para todo mundo ouvir. <span>Opções incomparáveis para um som de alta qualidade.Opções incomparáveis para um som de alta qualidade.</span></h2>
  </div>

  <div class="relative">
    <div data-core-scroller class="scroller-cards" #scrollerCards>
      <div class="scroll-card">
        <div class="card">
          <div class="image">
            <img width="400px" height="500px" src="assets/store/airpods/card.jpeg">
          </div>
          <div class="text-card">
            <h3>Ganhe seis meses de Apple Music.</h3>
            <p>Incluído com seus AirPods ou produtos Beats selecionados⁺.</p>
          </div>
        </div>
      </div>
      <div class="scroll-card">
        <div class="product">
          <div class="image">
            <img src="assets/store/airpods/1.jpeg">
          </div>
          <div class="product-text">
            <h3>AirPods Pro (2ª geração) com estojo de recarga MagSafe (USB‑C)</h3>
            <p>R$ 2.599,00</p>
          </div>
        </div>
      </div>
      <div class="scroll-card">
        <div class="product">
          <div class="image">
            <img src="assets/store/airpods/2.jpeg">
          </div>
          <div class="product-text">
            <h3>AirPods Max – Prateado</h3>
            <p>R$ 6.590,00</p>
          </div>
        </div>
      </div>
      <div class="scroll-card">
        <div class="product">
          <div class="image">
            <img src="assets/store/airpods/3.jpeg">
          </div>
          <div class="product-text">
            <h3>AirPods (3ª geração) com estojo de recarga Lightning</h3>
            <p>R$ 1.899,00</p>
          </div>
        </div>
      </div>
      <div class="scroll-card">
        <div class="product">
          <div class="image">
            <img src="assets/store/airpods/4.jpeg">
          </div>
          <div class="product-text">
            <h3>Beats Studio Buds + O autêntico fone sem fio com cancelamento de ruído</h3>
            <p>R$ 1.799,00</p>
          </div>
        </div>
      </div>
      <div class="scroll-card" id="last">
        <div class="product">
          <div class="image">
            <img src="assets/store/airpods/5.jpeg">
          </div>
          <div class="product-text">
            <h3>Beats Studio Buds O verdadeiro fone de ouvido sem fio com cancelamento de ruído</h3>
            <p>R$ 1.599,00</p>
          </div>
        </div>
      </div>
      <button class="buttons-scroll right" (click)="scroll(350, scrollerCards)">
        <span class="material-symbols-outlined">arrow_forward_ios</span>
      </button>
      <button class="buttons-scroll left" (click)="scroll(-350, scrollerCards)">
        <span class="material-symbols-outlined">arrow_back_ios</span>
      </button>
    </div>
  </div>
</section>
