<section>
  <div class="title">
    <h2>Para todo mundo ouvir. <span>Opções incomparáveis para um som de alta qualidade.Opções incomparáveis para um som de alta qualidade.</span></h2>
  </div>
  <div class="acessorios">
    <div class="card">
      <img src="assets/store/airpods/card.jpeg">
      <div class="intern-card">
        <div>
          <h3>Ganhe seis meses de Apple Music.</h3>
          <p>Incluído com seus AirPods ou produtos Beats selecionados⁺.</p>
        </div>
      </div>
    </div>

    <div class="product">
      <div class="image">
        <img src="assets/store/airpods/1.jpeg" alt="Capinha para IPhone">
      </div>
      <div class="info">
        <h3>AirPods Pro (2ª geração) com estojo de recarga MagSafe (USB‑C)</h3>
        <p>R$ 2.599,00</p>
      </div>
    </div>
    <div class="product">
      <div class="image">
        <img src="assets/store/airpods/2.jpeg" alt="Capinha para IPhone">
      </div>
      <div class="info">
        <h3>AirPods Max – Prateado</h3>
        <p>R$ 6.590,00</p>
      </div>
    </div>
    <div class="product">
      <div class="image">
        <img src="assets/store/airpods/3.jpeg" alt="Capinha para IPhone">
      </div>
      <div class="info">
        <h3>AirPods (3ª geração) com estojo de recarga Lightning</h3>
        <p>R$ 1.899,00</p>
      </div>
    </div>
    <div class="product">
      <div class="image">
        <img src="assets/store/airpods/4.jpeg" alt="Capinha para IPhone">
      </div>
      <div class="info">
        <h3>Beats Studio Buds + O autêntico fone sem fio com cancelamento de ruído – Translúcido</h3>
        <p>R$ 1.799,00</p>
      </div>
    </div>
    <div class="product">
      <div class="image">
        <img src="assets/store/airpods/5.jpeg" alt="Capinha para IPhone">
      </div>
      <div class="info">
        <h3>Beats Studio Buds O verdadeiro fone de ouvido sem fio com cancelamento de ruído – Preto</h3>
        <p>R$ 1.599,00</p>
      </div>
    </div>
  </div>
</section>
