* {
  background: transparent;
}

section {
  margin-top: 60px;
}

.title h2 {
  font-size: 28px;
  margin-bottom: 14px;
}

.title span {
  font-size: 28px;
  color: #6E6E73;
}

.scroller-cards {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 20px;
  height: 520px;
  overflow: hidden;
  scroll-behavior: smooth;
  padding: 10px 0px;
}

[data-core-scroller] {
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.relative {
  position: relative;
  width: 99.5vw;
  left: -8vw;
}

.scroll-card {
  width: 400px;
  height: 520px;
}

.scroll-card:first-child {
  margin-left: 8vw;
}

#last{
  margin-right: 8vw;
}

.card, .image, .image img {
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

.card {
  transition: all .3s cubic-bezier(0,0,.5,1);
  cursor: pointer;
  box-shadow: 2px 4px 12px #00000014;
}

.card:hover {
  transform: scale(1.01);
}

.text-card {
  position: relative;
  top: -100%;
  padding: 30px;
  white-space: normal;
}

.text-card span {
  font-size: 12px;
  font-weight: 700;
  color: #6E6E73;
}

.text-card h3 {
  font-size: 27px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.text-card p {
  font-size: 17px;
}


.product {
  width: 313px;
  height: 500px;
  border-radius: 20px;
  background-color: #fff;
  transition: all .3s cubic-bezier(0,0,.5,1);
  cursor: pointer;
  box-shadow: 2px 4px 12px #00000014;
  padding: 30px;
}

.product:hover {
  transform: scale(1.01);
}

.product .image, .product .image img {
  height: 271px;
  width: 230px;
  margin: 0 auto;
}

.product .image img {
  margin-top: 41px;
  height: 230px;
  width: 230px;
}

.novo-produto {
  color: #B64400;
  font-size: 12px;
  font-weight: 700;
}

.product-text {
  position: relative;
  margin-top: 58px;
  white-space: normal;
}

.product-text div {
  margin-top: 10px;
}

.product-text #no-span {
  position: absolute;
  height: 100px;
  width: 253px;
}

.product-text h3 {
  font-size: 17px;
}

.product-text p {
  margin-top: 27px;
  font-size: 14x;
}

.buttons-scroll {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: #cecece6d;
  display: none;
}

.left {
  text-align: center;
  left: 35px;
}

.right {
  right: 35px;
}

.buttons-scroll span {
  text-align: center;
  font-weight: 700;
}

.scroller-cards:hover .buttons-scroll {
  display: block;
}

